*, *:after, *:before {
	box-sizing: border-box
}
/*@font-face {
	font-family: 'Josefin Sans', sans-serif;
	src: url(Josefin Sans/);
}*/

body {
	background-color: #;
}


h1 {
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	color: #686868;
	padding-left: 10%;
	text-align: left;
	margin-top: 70px;
	border-bottom: solid rgba(0,0,0,0.01);
}
section {
	background-position: center;
	text-align: center;
	padding-top: 50px;
}

input {
	padding: 30px 50px;
	border: #DCDCDC;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	border: 2px solid #DCDCDC;
	text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
	display: inline-block;
	border: none;
	box-shadow: none;
	background-color: #FFFFFF;
    font-size: 13px;
}
.remove {
    font-size: 22px;
    color: grey;
    float: right;
}
span {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	margin-right: 7%; 
 }
#one,
#two,
#three {
	font-family: 'Dosis', sans-serif;
	width: 70px;
	height: 25px;
	float: center;
	text-align: left;
	outline: none;
	border: none;
	background-color: #EFEFEF;
}
#two,
#three {
	margin-top: 10px;
}
#tasks {
	font-family: 'Josefin Sans', sans-serif;
	width: 70px;
	height: 80px;
	opacity: 0.6;
	margin-top: 1%;
}

ul {
	text-align: center;
	margin: 0 auto;
	width: 25%;
    padding: 0;
}

li {
	color: #686868;
	border: none;
	outline: none;
	text-align: center;
    list-style-type: none;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
}
li.complete {
    color: rgba(200,200,200, .5);
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.hidden {
    display: none;
}
